# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out

.DS_Store
.build
.gradle
gradle
settings.gradle

# Exclude maven wrapper
!/gradle/wrapper/gradle-wrapper.properties

